<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs Index</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    
    <h1>All Blogs</h1>
    <a href="/blogs/new">Add New Blog</a>
    <ul>
        <% blogs.forEach(blog => { %>
          <li><a href="/blogs/<%= blog._id %>"><%= blog.name %></a></li>
        <% }); %>
      </ul>
   

  </body>
</html>
