<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
    </style>
    
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs App</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Welcome to the Blogs app!</h1>
    <p>An app for creating your favorite blogs.</p>
<a href="/blogs">Browse Blogs</a>
  </body>
</html>
